// The $space variable is set to 16px, which is equal to 1em, if the body font-size is set to 100%;
$space: 1em;

// For rows with gutters
$gutter-width: 0.5em;

// Fonts
// This is a font stack to use the OS' default font
$system-font-stack: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Oxygen', 'Ubuntu', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;

$font-stack: 'Open Sans', $system-font-stack;

$font-heading: $font-stack;
$font-copy: $font-stack;

$font-size-meta: 0.85em;
$font-weight-bold: 600;
$font-weight-normal: 400;

// Form Elements
$button-height: 2.5em;

// Box Shadow
$box-shadow-sm: 0em 0.12em 0.5em 0em rgba($color-primary-500, 0.25);

// Border-radius
$radius: $space/4;
$radius-sm: $space/6;

