.bg-clip-bottom {
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

    .clip-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.bg-clip-top {

    .clip-top {
        position: absolute;
        top: -0.5px;
        left: 0;
        width: 100%;

        transform: rotate(180deg);
    }
}

.bg-primary-grad {
    position: relative;
    z-index: 2;
    background-image: radial-gradient(circle at top left, rgba($color-primary, 0.5), rgba($color-highlight, 0.5));
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        
     
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.08'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: 18em;
        background-attachment: fixed;
    }
}